body {
  /* background-color: skyblue;
  background-image: url('/src/assets/images/sun.png'), url('/src/assets/images/cloud.png');
  background-repeat: no-repeat;
  background-size:
    100px 100px,
    200px 150px;
  background-position:
    50% 30%,
    50% 40%;
  background-attachment: fixed; */
}

/* background 속성으로 축약해서 표현하기 */

body {
  background:
    url('/src/assets/images/sun.png') no-repeat 50% 30% /100px 100px fixed,
    #ffc url('/src/assets/images/cloud.png') no-repeat 50% 40% /200px 150px fixed;
}

/* linear gradient */

.like {
  background-color: pink;
  background-image: linear-gradient(to top, Red, green);
}

.lion {
  margin-top: 50px;
  background-color: pink;
  background-image: linear-gradient(to top, red, green);
}

.bootcamp {
  margin-top: 50px;
  background-color: pink;
  background-image: linear-gradient(-45deg, red, green);
}
