body {
  margin: 20px;
}

/* body 배경색상 */
body {
  background: yellow;

  @media (min-width: 600px) {
    background: pink;
  }

  /* @media (min-inline-size: 600px) {
    body {
      background: pink;
    }
  } */

  @media (min-width: 1200px) {
    background: aqua;
  }
}
